LetsGoBiking/RoutingService/Connected Services/ServiceReference1/ProxyCache1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8081/ProxyCache?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ProxyCache.Models" />
  <xs:element name="GetStations">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ProxyCache.Models" minOccurs="0" name="GetStationsResult" nillable="true" type="q1:ArrayOfBikeStation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>