LetsGoBiking/RoutingService/Connected Services/ServiceReference1/ProxyCache.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ProxyCache.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ProxyCache.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBikeStation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BikeStation" nillable="true" type="tns:BikeStation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBikeStation" nillable="true" type="tns:ArrayOfBikeStation" />
  <xs:complexType name="BikeStation">
    <xs:sequence>
      <xs:element name="_x003C_AvailableBikes_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_BikeStands_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_Latitude_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_Longitude_x003E_k__BackingField" type="xs:double" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BikeStation" nillable="true" type="tns:BikeStation" />
</xs:schema>